$darkcolor1: #1F263B;
$darkcolor2: rgb(9, 8, 16);
$mediumcolor1: #323C5E;
$mediumcolor2: #4A5A8C;
$lightcolor1: #768EDE;
$lightcolor2: #6074B5;
$lightcolor3: #ABB1C4;
$regularcolor: #7897FF;

@mixin flex-row-center{
    justify-content: center;
    align-items: center;
    display: flex;
}

body{
    background-color: $darkcolor2;
}