@import "./Main.scss";

.text-writable{
    height: 100vh;
    background-color: $mediumcolor1;
    padding: 2.5em;
    border-radius: 10px;
    font-size: 18px;
    &:focus{
        outline: $lightcolor1 2px solid;
    }
}


.write-effects,.finish{
    & button{
        cursor: pointer;
        transition: .6s ease;
        width: 100%;
        color: white;
        opacity: .7;
        font-size: 20px;
        background-color: $darkcolor1;
        padding: 2em;
        border-radius: 20px;
        border: none;
        &:hover{
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.237);
        }
    }
    margin-right: 15%;
    margin-left: 95%;
    margin-top: 20em;
    position:fixed;
    color: white;
    z-index: 1;
    padding: .1em;
    background-color: $darkcolor1;
    border-radius: 20px;
    box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.26);
    @include flex-column-center;
    & button{
       padding: .8em 1em; 
    }
}
.finish{
    margin-top: 45em;
    & button{
        padding: .8em 1em; 
        transition:.2s;
        &:hover{
            background-color: rgba(75, 147, 64, 0.644);
            outline: 2px solid rgba(200, 248, 193, 0.644);
        }
        &:disabled{
            cursor: not-allowed;
            background-color: $darkcolor2;
            opacity: .7;
        }
     }  
     
}
.text-title{
    transition: .6s ease-in;
    color: white;
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 40px;
    margin-top: -50px;
    text-align: center;
    border-bottom: 2px solid $lightcolor1;
    padding: .3em 0;
    &:focus{
        outline: none;
        border-bottom: 2px solid white;
    }

}
.counter{
    position: absolute;
    color: rgba(255, 255, 255, 0.415);
    text-align: right;
    margin: .5em;
}
.boldtext{
    font-weight: 800;
}
@media (max-width:800px){
    .text-writable{
        width: 80vw;
        transform: translateX(-160px);
    }
    .write-effects,.finish{
        transform: translateX(30px);
    }
    .counter{
       transform: translateX(-140px); 
    }
}
@media (max-width:691px){
    .text-writable{
        width: 75vw;
        transform: translateX(-160px);
    }
    .write-effects,.finish{
        transform: translateX(20px);
    }
    .counter{
       transform: translateX(-140px); 
    }
    .text-title{
        transform: translateX(-110px);
        width: 75vw;
    }
}
@media (max-width:560px){
    .text-writable{
        width: 70vw;
        transform: translateX(-160px);
    }
    .write-effects,.finish{
        transform: translateX(10px);
    }
    .counter{
       transform: translateX(-140px); 
    }
    .text-title{
        transform: translateX(-110px);
        width: 75vw;
    }
}
@media (max-width:427px){
    .text-writable{
        width: 62vw;
        transform: translateX(-160px);
    }
    .write-effects,.finish{
        transform: translateX(2px);
        & button{
            font-size: 18px;
        }
    }
    .counter{
       transform: translateX(-140px); 
    }
    .text-title{
        transform: translateX(-110px);
        width: 66vw;
    }
}